.title {
    height:5rem
}

.picture {
    height:22rem
}

div.highlight:hover {
    cursor: pointer !important;
    background-color: white !important;
    transform: scale(1.1);
    transition: width 1s;
}