.title {
    height:5rem
}

.picture {
    height:22rem
}

div.highlight:hover {
    cursor: pointer !important;
    background-color: white !important;
    transform: matrix(1, 0, 0, 1, 0, -21);
    transition: width 1s, height 1s, transform 1s;
}